{% extends 'base.html.twig' %}

{% block stylesheets '<link rel="stylesheet" href="http://pasvupaslu.com/css/2.css">' %}

{% block title 'A propos de nous' %}

{% block body %}

    <div class="vbox wb_container" id="wb_main" style="height: 1590px;">

        <div class="wb_cont_inner">
            <div id="wb_element_instance113" class="wb_element wb_text_element" style=" line-height: normal;">
                <h3 class="wb-stl-heading3" style="text-align: center;">
                    <span style="color:rgba(10,6,10,1);">A propos de nous</span>
                </h3>
            </div>

            <div id="wb_element_instance114" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance115" class="wb_element wb_text_element" style=" line-height: normal;">
                <p class="wb-stl-normal">
                    <span style="color:rgba(255,255,255,1);">Cette plateforme est mise en ligne par l'association Terhoma <a data-finalurl="http://terhoma.org/Accueil/" data-name="terhoma.org/Accueil/" href="http://terhoma.org/Accueil/">(www.terhoma.org</a>).&nbsp;</span>
                </p>
            </div>

            <div id="wb_element_instance116" class="wb_element wb_text_element" style=" line-height: normal;">
                <p class="wb-stl-custom1" style="text-align: justify;">
                    <span class="wb-stl-special">
                        <span style="color:rgba(255,255,255,1);">
                            <em>Si le livre est reconnu comme un bien&nbsp;culturel, le marché du livre et sa distribution laissent la part belle aux gros éditeurs et très peu d'espace pour les petites maisons d'édition et les nouveaux auteurs. &nbsp;</em>
                        </span>
                    </span>
                </p>

                <p class="wb-stl-custom1" style="text-align: justify;">
                    <span class="wb-stl-special">
                        <span style="color:rgba(255,255,255,1);">
                            <em>La création de cette plateforme est liée à notre certitude que l'émergence de nouveaux talents&nbsp;enrichit&nbsp;la littérature et lui offre la plus belle des promesses :&nbsp;</em>
                        </span>
                    </span>
                </p>

                <p class="wb-stl-custom1" style="text-align: center;">
                    <span class="wb-stl-special">
                        <span style="color:rgba(255,255,255,1);"><em><strong>La diversité.</strong></em></span>
                    </span>
                </p>

            </div>

            <div id="wb_element_instance117" class="wb_element wb_element_picture" title="">
                <img alt="gallery/etagere" src="{{ asset('assets/images/gallery/') }}ae1484604f3accc5e3e68313abf3f326_120x98.png">
            </div>

            <div id="wb_element_instance118" class="wb_element wb_element_picture" title="">
                <img alt="gallery/etagere" src="{{ asset('assets/images/gallery/') }}ae1484604f3accc5e3e68313abf3f326_120x98.png">
            </div>

            <div id="wb_element_instance119" class="wb_element wb_element_picture" title="">
                <img alt="gallery/etagere" src="{{ asset('assets/images/gallery/') }}ae1484604f3accc5e3e68313abf3f326_120x98.png">
            </div>

            <div id="wb_element_instance120" class="wb_element wb_element_picture" title="">
                <img alt="gallery/etagere" src="{{ asset('assets/images/gallery/') }}ae1484604f3accc5e3e68313abf3f326_120x98.png">
            </div>

            <div id="wb_element_instance121" class="wb_element wb_element_picture" title="">
                <img alt="gallery/etagere" src="{{ asset('assets/images/gallery/') }}ae1484604f3accc5e3e68313abf3f326_120x98.png">
            </div>

            <div id="wb_element_instance122" class="wb_element wb_element_picture" title="">
                <img alt="gallery/etagere" src="{{ asset('assets/images/gallery/') }}ae1484604f3accc5e3e68313abf3f326_120x98.png">
            </div>

            <div id="wb_element_instance123" class="wb_element wb_element_picture" title="">
                <img alt="gallery/etagere" src="{{ asset('assets/images/gallery/') }}ae1484604f3accc5e3e68313abf3f326_120x98.png">
            </div>

            <div id="wb_element_instance124" class="wb_element wb_text_element" style=" line-height: normal;">
                <p class="wb-stl-normal">
                    <span style="color:rgba(36,34,35,1);"><strong>Une volonté d'accompagner !</strong></span>
                </p>
            </div>

            <div id="wb_element_instance125" class="wb_element wb_text_element" style=" line-height: normal;">
                <p class="wb-stl-normal"><em>L<span style="color:rgba(255,255,255,1);">es frais d'inscription, en plus des avantages offerts à chaque membre, donnent&nbsp;à l'association Terhoma des moyens financiers pour :</span></em></p>
                <ul>
                    <li class="wb-stl-normal"><span style="color:rgba(255,255,255,1);">Le développement de nos ateliers d'écriture,</span></li>
                    <li class="wb-stl-normal"><span style="color:rgba(255,255,255,1);">L'organisation de nos évènements,</span></li>
                    <li class="wb-stl-normal"><span style="color:rgba(255,255,255,1);">L'organisation du salon Pas vu, pas lu,</span></li>
                    <li class="wb-stl-normal"><span style="color:rgba(255,255,255,1);">La promotion de nouveaux auteurs,</span></li>
                    <li class="wb-stl-normal"><span style="color:rgba(255,255,255,1);">La promotion de petits éditeurs ,</span></li>
                    <li class="wb-stl-normal"><span style="color:rgba(255,255,255,1);">L'édition de nouveaux auteurs&nbsp;</span></li>
                </ul>
            </div>

            <div id="wb_element_instance126" class="wb_element wb_text_element" style=" line-height: normal;">
                <h5 class="wb-stl-subtitle" style="text-align: center;">
                    <em>* Votre don donne droit à une réduction fiscale représentant&nbsp;66&nbsp;%&nbsp;des sommes versées </em>
                </h5>
                <h5 class="wb-stl-subtitle" style="text-align: center;">
                    <em>(dans la limite de dons représentant&nbsp;20&nbsp;%&nbsp;du revenu imposable)</em>
                </h5>
            </div>

            <div id="wb_element_instance127" class="wb_element">
                <a class="wb_button" href="http://www.terhoma.org/Faire-un-don/"><span>Faire un don !</span></a>
            </div>

            <div id="wb_element_instance128" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance129" class="wb_element wb_text_element" style=" line-height: normal;">
                <h5 class="wb-stl-subtitle" style="text-align: center;">
                    <em>Vous pouvez nous aider à faire vivre cette plateforme en faisant un don* </em>
                </h5>
                <h5 class="wb-stl-subtitle" style="text-align: center;">
                    <em>à</em>
                </h5>
                <h5 class="wb-stl-subtitle" style="text-align: center;">
                    <em>l'association Terhoma .</em>
                </h5>
            </div>

            <div id="wb_element_instance130" class="wb_element wb_element_picture" title="">
                <img alt="gallery/mandala" src="{{ asset('assets/images/gallery/2a1e04a4414b29eaf42560b660a3c79c_60x58.png') }}">
            </div>

            <div id="wb_element_instance131" class="wb_element wb_element_picture" title="">
                <img alt="gallery/mandala" src="{{ asset('assets/images/gallery/2a1e04a4414b29eaf42560b660a3c79c_60x58.png') }}">
            </div>

            <div id="wb_element_instance132" class="wb_element wb_element_picture" title="">
                <img alt="gallery/etagere" src="{{ asset('assets/images/gallery/ae1484604f3accc5e3e68313abf3f326_120x98.png') }}">
            </div>

            <div id="wb_element_instance133" class="wb_element wb_element_picture" title="">
                <img alt="gallery/etagere" src="{{ asset('assets/images/gallery/ae1484604f3accc5e3e68313abf3f326_120x98.png') }}">
            </div>

            <div id="wb_element_instance134" class="wb_element wb_element_picture" title="">
                <img alt="gallery/etagere" src="{{ asset('assets/images/gallery/ae1484604f3accc5e3e68313abf3f326_120x98.png') }}">
            </div>

            <div id="wb_element_instance135" class="wb_element wb_element_picture" title="">
                <img alt="gallery/lunegarcon" src="{{ asset('assets/images/gallery/5ae8d5b63bdd87a0cef696c76ffaf13c.png') }}">
            </div>

            <div id="wb_element_instance136" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance137" class="wb_element wb_element_picture" title="">
                <img alt="gallery/ic" src="{{ asset('assets/images/gallery/bdde57d173ccb70100bc731fd58f82ca_45x70.jpg') }}">
            </div>

            <div id="wb_element_instance138" class="wb_element wb_element_picture" title="">
                <img alt="gallery/the hours" src="{{ asset('assets/images/gallery/2fb8198b28c46066957baf5d9d6bb509_49x72.jpg') }}">
            </div>

            <div id="wb_element_instance139" class="wb_element wb_element_picture" title="">
                <img alt="gallery/visuelapropos" src="{{ asset('assets/images/gallery/1909e3a6cbf6f7c37c5f6146572b731e.jpg') }}">
            </div>

            <div id="wb_element_instance140" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance141" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance142" class="wb_element wb-elm-orient-horizontal">
                <div class="wb-elm-line"></div>
            </div>

            <div id="wb_element_instance143" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance144" class="wb_element wb-elm-orient-horizontal">
                <div class="wb-elm-line"></div>
            </div>

            <div id="wb_element_instance145" class="wb_element wb-elm-orient-horizontal">
                <div class="wb-elm-line"></div>
            </div>

            <div id="wb_element_instance146" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance147" class="wb_element">
                <iframe title="YouTube video player" class="youtube-player" allowfullscreen="" type="text/html" src="//www.youtube.com/embed/XKOBU0udTnk?controls=1&amp;amp;showinfo=1" frameborder="0"></iframe>
            </div>

        </div>
    </div>

{% endblock %}


