{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/pages/books.css') }}">
{% endblock %}

{% block title 'Livres' %}

{% block body %}

    <div class="vbox wb_container" id="wb_main" style="height: 1013px;">

        <div class="wb_cont_inner">

            <div id="wb_element_instance212" class="wb_element wb_text_element" style=" line-height: normal;">
                <h3 class="wb-stl-heading3" style="text-align: center;">
                    <span style="color:rgba(15,6,15,1);">Livres</span>
                </h3>
            </div>

            <div id="wb_element_instance213" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance214" class="wb_element wb_text_element" style=" line-height: normal;">
                <p class="wb-stl-normal" style="text-align: center;">
                    <strong>
                        <em>
                            <span style="color:rgba(255,255,255,1);">Les nouveautés de la semaine&nbsp;</span>
                        </em>
                    </strong>
                </p>
            </div>

            <div id="wb_element_instance215" class="wb_element wb_text_element" style=" line-height: normal;">
                <p class="wb-stl-normal" style="text-align: center;">
                    <strong>
                        <em>
                            <span style="color:rgba(255,255,255,1);">Les mieux notés</span>
                        </em>
                    </strong>
                </p>
            </div>

            <div id="wb_element_instance216" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance217" class="wb_element wb_element_picture" title="">
                <img alt="gallery/boy-160174_1280" src="{{ asset('assets/images/gallery/4a1c3e20d9fb3cfbc4765768ca22a06e_78x150.png') }}">
            </div>

            <div id="wb_element_instance218" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance219" class="wb_element wb_text_element" style=" line-height: normal;">
                <h3 class="wb-stl-heading3">
                    <span style="color:rgba(15,7,15,1);">Leur succès dépend de vous !</span>
                </h3>
            </div>

            <div id="wb_element_instance220" class="wb_element wb_element_picture" title="">
                <img alt="gallery/girl-160169_1280" src="{{ asset('assets/images/gallery/7fed96fdff7756294602e2b1fa8b1dab_102x150.png') }}">
            </div>

            <div id="wb_element_instance221" class="wb_element wb_element_picture" title="">
                <img alt="gallery/literature-149713_1280" src="{{ asset('assets/images/gallery/bdb4a0a345907e348bd8a4d2cfc0c118_204x103.png') }}">
            </div>

            <div id="wb_element_instance222" class="wb_element wb-elm-orient-horizontal">
                <div class="wb-elm-line"></div>
            </div>

            <div id="wb_element_instance223" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance224" class="wb_element wb_element_shape">
                <div class="wb_shp" style="background: url('{{ asset('assets/images/gallery/0e06c74fe110bf97659d4e96c8b4c3e5.jpg') }}') repeat scroll center center; background-size: cover; border: 5px none #c0c0c0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 1200px; height: 348px;"></div>
            </div>

            <div id="wb_element_instance225" class="wb_element" style="width: 100%; display: none;">
                <script type="text/javascript">
                    $(function() {
                        $("#wb_element_instance225").hide();
                    });
                </script>
            </div>
        </div>
        <div class="wb_cont_outer"></div>
        <div class="wb_cont_bg"></div>
    </div>

{% endblock %}
