{% extends 'base.html.twig' %}

{% block title 'Nos évènements' %}

{% block body %}
    <div class="content">
        <div class="illustration" style="background-image: url({{ asset('assets/images/illustration/blog.png') }});">
            <span class="illustration-title about-title" style="width: 16.2rem;">Nos évènements</span>
        </div>

        <div class="separator"></div>

        <div class="block-quote bg-rose" style="height: auto;">
            <div class="row">
                <div class="col-md-3">
                    <div class="box-events">
                        <div class="title-events">Interviews</div>
                        <a href="{{ path('interviews') }}" class="bg-events" style="background: #ffffff url({{ asset('assets/images/illustration/interviews.jpg') }}) repeat scroll center center;background-size: cover;"></a>
                        <div class="desc-events">Acteurs du livre</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box-events">
                        <div class="title-events">Rendez-vous</div>
                        <a href="{{ path('rendez_vous') }}" class="bg-events" style="background: #ffffff url({{ asset('assets/images/illustration/events2.jpg') }}) repeat scroll center center;background-size: cover;"></a>
                        <div class="desc-events">Pas vu, pas lu</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box-events">
                        <div class="title-events">Emergence</div>
                        <a href="{{ path('emerge') }}" class="bg-events" style="background: #ffffff url({{ asset('assets/images/illustration/events3.jpg') }}) repeat scroll center center;background-size: cover;"></a>
                        <div class="desc-events">Nouvels Auteurs</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box-events">
                        <div class="title-events">Salon</div>
                        <a href="{{ path('salon') }}" class="bg-events" style="background: #ffffff url({{ asset('assets/images/illustration/pas.jpg') }}) repeat scroll center center;background-size: cover;"></a>
                        <div class="desc-events">Pas vu, pas lu</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
