{% extends 'base.html.twig' %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/pages/identification.css') }}">
{% endblock %}

{% block title 'Identification' %}

{% block body %}

    <div class="vbox wb_container" id="wb_main" style="height: 1170px;">

        <div class="wb_cont_inner">
            <div id="wb_element_instance337" class="wb_element wb_text_element" style=" line-height: normal;">
                <p class="wb-stl-normal" style="text-align: center;">
                    <span style="color:rgba(255,255,255,1);">D E J A &nbsp; M E M B R E &nbsp;</span>
                </p>

                <p class="wb-stl-normal" style="text-align: center;">
                    <em>
                        <span style="color:rgba(255,255,255,1);">C o n n e c t e z - v o u s &nbsp;!</span>
                    </em>
                </p>
            </div>

            <div id="wb_element_instance338" class="wb_element wb_text_element" style=" line-height: normal;">
                <h3 class="wb-stl-heading3" style="text-align: center;">
                    <span style="color:rgba(13,9,13,1);">Inscription / Connexion&nbsp;</span>
                </h3>
            </div>

            <div id="wb_element_instance339" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance340" class="wb_element wb-elm-orient-horizontal">
                <div class="wb-elm-line"></div>
            </div>

            <div id="wb_element_instance341" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance342" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance343" class="wb_element wb_element_picture" title="">
                <img alt="gallery/bandeaueven" src="{{ asset('assets/images/gallery/d651114c26c8d0d079a962200d92886a_1200x303.jpg') }}">
            </div>

            <div id="wb_element_instance344" class="wb_element wb_element_picture" title="">
                <img alt="gallery/bandeaumembre" src="{{ asset('assets/images/gallery/8425e380e80e7be5d98d9e7c8f34877c_66x100.png') }}">
            </div>

            <div id="wb_element_instance345" class="wb_element wb-elm-orient-horizontal">
                <div class="wb-elm-line"></div>
            </div>

            <div id="wb_element_instance346" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance347" class="wb_element wb_text_element" style=" line-height: normal;">
                <p class="wb-stl-normal" style="text-align: center;">INSCRIPTION LECTEUR</p>
            </div>

            <div id="wb_element_instance348" class="wb_element wb_element_picture" title="">
                <img alt="gallery/livre ouvert" src="{{ asset('assets/images/gallery/12cf4fa08fd84de973e92eb82ace7134_150x109.png') }}">
            </div>

            <div id="wb_element_instance349" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance350" class="wb_element wb_text_element" style=" line-height: normal;">
                <p class="wb-stl-normal" style="text-align: center;">INSCRIPTION AUTEUR</p>
            </div>

            <div id="wb_element_instance351" class="wb_element wb_element_picture" title="">
                <img alt="gallery/livre ouvert" src="{{ asset('assets/images/gallery/12cf4fa08fd84de973e92eb82ace7134_150x109.png') }}">
            </div>

            <div id="wb_element_instance352" class="wb_element wb_element_picture" title="">
                <img alt="gallery/bandeaumembre" src="{{ asset('assets/images/gallery/8425e380e80e7be5d98d9e7c8f34877c_66x100.png') }}">
            </div>

            <div id="wb_element_instance353" class="wb_element">
                <a class="wb_button" href="{{ path('registration-reader') }}"><span>Cliquer ici !</span></a>
            </div>

            <div id="wb_element_instance354" class="wb_element">
                <a class="wb_button" href="{{ path('registration-author') }}"><span>Cliquer ici !</span></a>
            </div>

            <div id="wb_element_instance355" class="wb_element wb_text_element" style=" line-height: normal;">
                <p class="wb-stl-normal" style="text-align: center;">D E V E N I R &nbsp; &nbsp;M E M B R E&nbsp;</p>

                <p class="wb-stl-normal" style="text-align: center;"><span style="color:rgba(255,255,255,1);"><em>Pas Vu, Pas lu est une communauté destinée </em></span></p>

                <p class="wb-stl-normal" style="text-align: center;"><span style="color:rgba(255,255,255,1);"><em>à tous les amoureux du livre.&nbsp;</em></span></p>

                <p class="wb-stl-normal" style="text-align: center;"><em>(Enregistrement des inscriptions à compter du 1er Mars 2019)</em></p>
            </div>

            <div id="wb_element_instance356" class="wb_element wb-elm-orient-vertical">
                <div class="wb-elm-line"></div>
            </div>

            <div id="wb_element_instance357" class="wb_element wb_element_picture" title="">
                <img alt="gallery/visuelinscriplecteur" src="{{ asset('assets/images/gallery/5f905d7dda1b419a1f706cff4b0f02d9_285x191.jpg') }}">
            </div>

            <div id="wb_element_instance358" class="wb_element wb_element_picture" title="">
                <img alt="gallery/visuelinscriptauteur" src="{{ asset('assets/images/gallery/92e9d7cbea4b6ccf12cddebae8a2c5da_275x192.jpg') }}">
            </div>

            <div id="wb_element_instance359" class="wb_element wb_text_element" style=" line-height: normal;">
                <h5 class="wb-stl-subtitle" style="text-align: center;"><strong>Tarif&nbsp;&nbsp;: 60 euros TTC Annuel *</strong></h5>
            </div>

            <div id="wb_element_instance360" class="wb_element wb_text_element" style=" line-height: normal;">
                <h5 class="wb-stl-subtitle" style="text-align: center;"><strong>&nbsp;Tarif :&nbsp;12 euros TTC Annuel *</strong></h5>
            </div>

            <div id="wb_element_instance361" class="wb_element wb_text_element" style=" line-height: normal;">
                <h5 class="wb-stl-subtitle"><em>* Le paiement de votre abonnement permet à l'Association Terhoma de se développer en toute indépendance et&nbsp;sans demander de subventions. Votre abonnement est un acte&nbsp;&nbsp;d'économie solidaire !</em></h5>
            </div>

        </div>
        <div class="wb_cont_outer"></div>
        <div class="wb_cont_bg"></div>
    </div>

{% endblock %}
