{% extends 'base.html.twig' %}

{% block title 'Bienvenue sur Pasvupaslu' %}

{% block body %}

    <div class="vbox wb_container" id="wb_main" style="height: 2200px;">

        <div class="wb_cont_inner">
            <div id="wb_element_instance26" class="wb_element wb_text_element" style=" line-height: normal;">
                <h3 class="wb-stl-heading3" style="text-align: center;"><span style="color:rgba(13,5,13,1);"><strong>Accueil</strong></span></h3>
            </div>

            <div id="wb_element_instance27" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance28" class="wb_element wb_text_element" style=" line-height: normal;">
                <p class="wb-stl-normal" style="text-align: center;">
                    <span style="color:rgba(255,255,255,1);">Lecte<span style="color:rgba(46,44,46,1);"><span style="color:rgba(255,255,255,1);">ur,&nbsp;Venez</span></span> découvrir de nouveaux auteurs,&nbsp;</span>
                </p>

                <ul>
                    <li class="wb-stl-normal" style="text-align: justify;">
                        <p class="wb-stl-custom3">
                            <em>
                                <span style="color:rgba(255,255,255,1);">
                                    Découvrez, dans la catégorie qui vous intéresse ( Roman, Essai, Thriller, Science-fiction, Bande-Dessinée, Littérature Jeunesse, Manga, Bien-etre &amp; Vie Pratique&nbsp;) un auteur et un extrait de son oeuvre.
                                </span>
                            </em>
                        </p>
                    </li>

                    <li class="wb-stl-normal" style="text-align: justify;">
                        <p class="wb-stl-custom3">
                            <em>
                                <span style="color:rgba(255,255,255,1);">
                                    Donnez une note d'émotion sur votre lecture et justifiez-la par vos&nbsp;commentaires.
                                </span>
                            </em>
                        </p>
                    </li>

                    <li class="wb-stl-normal" style="text-align: justify;">
                        <p class="wb-stl-custom3">
                            <em>
                                <span style="color:rgba(255,255,255,1);">
                                    Votre note et vos commentaires offriront aux auteurs les premières réactions sur leurs oeuvres.&nbsp;
                                </span>
                            </em>
                        </p>
                    </li>

                    <li class="wb-stl-normal" style="text-align: justify;">
                        <p class="wb-stl-custom3">
                            <em>
                                <span style="color:rgba(255,255,255,1);">
                                    La somme de toutes les notes permettra aux auteurs les plus appréciés d'être mis en avant par un classement de satisfaction.
                                </span>
                            </em>
                        </p>
                    </li>

                    <li class="wb-stl-normal" style="text-align: justify;">
                        <p class="wb-stl-custom3">
                            <i>Grâce à vous, de nouveaux auteurs sont édités</i>
                        </p>
                    </li>
                </ul>

                <p class="wb-stl-normal" style="text-align: center;">
                    <span style="color:rgba(255,255,255,1);">
                        Devenez acteur de l'émergence de nouveaux talents !
                    </span>
                </p>
            </div>

            <div id="wb_element_instance29" class="wb_element wb_element_picture" title="">
                <img alt="gallery/marquepage" src="{{ asset('assets/images/gallery/b05e2a6a196bfe1243771a8d6d9737bc_250x252.png') }}">
            </div>

            <div id="wb_element_instance30" class="wb_element wb_text_element" style=" line-height: normal;">
                <h3 class="wb-stl-heading3" style="text-align: center;">
                    <span style="color:rgba(255,255,255,1);">
                        Auteur, Editeur, faites-vous connaître !
                    </span>
                </h3>
            </div>

            <div id="wb_element_instance31" class="wb_element wb_text_element" style=" line-height: normal;">
                <p class="wb-stl-normal" style="text-align: center;">
                    <span style="color:rgba(15,255,255,1);">
                        <span class="wb-stl-highlight">
                            Rejoindre les acteurs de&nbsp;&nbsp;Pas vu, pas lu !
                        </span>
                    </span>
                </p>
            </div>

            <div id="wb_element_instance32" class="wb_element wb_text_element" style=" line-height: normal;">
                <p class="wb-stl-normal">
                    <a data-finalurl="mi:5d14e62b_115/" data-name="Auteurs" href="Auteurs/">
                        <span style="color:rgba(12,83,102,1);">
                            <em>
                                Nouveaux auteurs de la semaine...
                            </em>
                        </span>
                    </a>
                </p>
            </div>

            <div id="wb_element_instance33" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance34" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance35" class="wb_element wb_element_picture" title="">
                <img alt="gallery/pen-1674850_1280" src="{{ asset('assets/images/gallery/1a19af1e480e7ea92a0d91c6bf8e3f43_70x140.png') }}">
            </div>

            <div id="wb_element_instance36" class="wb_element wb_element_shape">
                <a href="Connexion/inscription-php/" class="wb_shp"></a>
            </div>

            <div id="wb_element_instance37" class="wb_element wb_text_element" style=" line-height: normal;">
                <p class="wb-stl-normal" style="text-align: center;">
                    <a data-finalurl="mi:5d14e62b_108/" data-name="Inscription" href="Connexion/inscription-php/">Inscription</a>
                </p>
            </div>

            <div id="wb_element_instance38" class="wb_element wb_element_picture" title="">
                <img alt="gallery/livrespalm" src="{{ asset('assets/images/gallery/afa7a821c462b7dfe056656ecd1705e3_621.30769230769x410.jpg') }}">
            </div>

            <div id="wb_element_instance39" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance40" class="wb_element wb_element_picture" title="">
                <img alt="gallery/ipadpasvu" src="{{ asset('assets/images/gallery//4a662552a76ec3ccbf02b9691fd6402e_600x278.png') }}">
            </div>

            <div id="wb_element_instance41" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance42" class="wb_element" style=" overflow: hidden;">
                <div style="height: 100%;">
                    <div style="text-align:center;padding:1em 0;">
                        <h4>
                            <a style="text-decoration:none;" href="https://www.zeitverschiebung.net/fr/city/2988507">
                                <span style="color:gray;">Heure actuelle</span>
                                <br>Paris, France
                            </a>
                        </h4>
                        <iframe src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=fr&amp;size=small&amp;timezone=Europe%2FParis" width="100%" height="90" frameborder="0" seamless=""></iframe>
                    </div>
                </div>
            </div>

            <div id="wb_element_instance43" class="wb_element wb_text_element" style=" line-height: normal;">
                <p class="wb-stl-normal"><em>"Qui que vous soyez qui voulez cultiver, vivifier, édifier, attendrir, apaiser, mettez des&nbsp;livres&nbsp;partout." </em></p>
                <p class="wb-stl-normal" style="text-align: center;"><strong><em>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Victor Hugo</em></strong></p>
            </div>

            <div id="wb_element_instance44" class="wb_element wb-elm-orient-horizontal">
                <div class="wb-elm-line"></div>
            </div>

            <div id="wb_element_instance45" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance46" class="wb_element wb-elm-orient-horizontal">
                <div class="wb-elm-line"></div>
            </div>

            <div id="wb_element_instance47" class="wb_element wb_element_picture" title="">
                <img alt="gallery/visuelaccueil" src="{{ asset('assets/images/gallery/e21d59f9c768cdd3996406767ee5f2c0.jpg') }}">
            </div>

            <div id="wb_element_instance48" class="wb_element wb_text_element" style=" line-height: normal;">
                <p class="wb-stl-custom1" style="text-align: center;"><span style="color:rgba(196,12,80,1);"><strong>Citation du jour</strong></span></p>
                <p class="wb-stl-custom1" style="text-align: center;"><em>"Chaque jour mes certitudes me remplissent de doute, j'avance !"</em></p>
                <p class="wb-stl-custom1" style="text-align: center;"><strong>Stéphane Théri</strong></p>
            </div>

            <div id="wb_element_instance49" class="wb_element wb-elm-orient-horizontal">
                <div class="wb-elm-line"></div>
            </div>

            <div id="wb_element_instance50" class="wb_element wb_text_element" style=" line-height: normal;">
                <p class="wb-stl-custom3" style="text-align: center;">
                    <a data-finalurl="mi:5d14e62b_115/" data-name="Auteurs" href="Auteurs/">
                        <span style="color:rgba(255,255,255,1);">Auteurs</span>
                    </a>
                    <a data-finalurl="mi:5d14e62b_105/" data-name="Livres" href="Livres/">
                        <span style="color:rgba(255,255,255,1);">LIVRES</span>
                    </a>
                    <a data-finalurl="mi:5d14e62b_102/" data-name="Science-fiction" href="Science-fiction/">
                        <span style="color:rgba(255,255,255,1);"> Science-fiction</span>
                    </a>
                </p>

                <p class="wb-stl-custom3" style="text-align: center;">
                    <a data-finalurl="mi:5d14e62b_106/" data-name="Interviews" href="Interviews/">
                        <span style="color:rgba(255,255,255,1);">INTERVIEWS</span>
                    </a>
                    <a data-finalurl="mi:5d14e62b_116/" data-name="Bien-être &amp;amp; Vie pratique" href="Bien-%C3%AAtre-Vie-pratique/">
                        <span style="color:rgba(255,255,255,1);">bien-être &amp; vie pratique </span>
                    </a>
                </p>

                <p class="wb-stl-custom3" style="text-align: center;">
                    <a data-finalurl="mi:5d14e62b_117/" data-name="Nos Evénements" href="Nos-Ev%C3%A9nements/">
                        <span style="color:rgba(255,255,255,1);">Evènements</span>
                    </a>
                    <a data-finalurl="mi:5d14e62b_121/" data-name="Editeurs" href="Editeurs/">
                        <span style="color:rgba(255,255,255,1);">Editeurs</span>
                    </a>
                    <a data-finalurl="mi:5d14e62b_120/" data-name="Rendez-vous Pas vu, Pas lu" href="Rendez-vous-Pas-vu-Pas-lu/">
                        <span style="color:rgba(255,255,255,1);">RENDEZ-VOUS</span>
                    </a>
                    <a data-finalurl="mi:5d14e62b_108/" data-name="Inscription" href="Connexion/inscription-php/">
                        <span style="color:rgba(255,255,255,1);">Inscription</span>
                    </a>
                    <a data-finalurl="mi:5d14e62b_100/" data-name="Romans" href="Romans/">
                        <span style="color:rgba(255,255,255,1);">Romans</span>
                    </a>
                    <a data-finalurl="mi:5d14e62b_110/" data-name="A propos de nous" href="A-propos-de-nous/">
                        <span style="color:rgba(255,255,255,1);">A propos de Nous</span>
                    </a>
                </p>

                <p class="wb-stl-custom3" style="text-align: center;">
                    <a data-finalurl="mi:5d14e62b_107/" data-name="Lecteurs" href="5d14e62b_107/">
                        <span style="color:rgba(255,255,255,1);">LECTEURS&nbsp;</span>
                    </a>
                    <a data-finalurl="mi:5d14e62b_114/" data-name="Salon Pas Vu, Pas Lu" href="Salon-Pas-Vu-Pas-Lu/">
                        <span style="color:rgba(255,255,255,1);">SALON PAS VU, PAS LU</span>
                    </a>
                </p>

                <p class="wb-stl-custom3" style="text-align: center;">
                    <a data-finalurl="mi:5d14e62b_112/" data-name="Bandes-dessinées" href="Bandes-dessin%C3%A9es/">
                        <span style="color:rgba(255,255,255,1);">Bandes-dessinées</span>
                    </a>
                    <a data-finalurl="mi:5d14e62b_113/" data-name="Jeunesse" href="Jeunesse/">
                        <span style="color:rgba(255,255,255,1);">&nbsp;Jeunesse</span>
                    </a>
                </p>

                <p class="wb-stl-custom3" style="text-align: center;">
                    <a data-finalurl="mi:5d14e62b_119/" data-name="Un auteur émerge !" href="Un-auteur-%C3%A9merge/">
                        <span style="color:rgba(255,255,255,1);">Emergence </span>
                    </a>
                    <a data-finalurl="mi:5d14e62b_104/" data-name="Poésies" href="Po%C3%A9sies/">
                        <span style="color:rgba(255,255,255,1);">Poésies </span>
                    </a>
                    <a data-finalurl="mi:5d14e62b_118/" data-name="Revue de presse" href="Revue-de-presse/">
                        <span style="color:rgba(255,255,255,1);">Revue de presse</span></a>
                    <a data-finalurl="mi:5d14e62b_103/" data-name="Thrillers" href="Thrillers/">
                        <span style="color:rgba(255,255,255,1);"> Thrillers </span>
                    </a>


                <p class="wb-stl-custom3" style="text-align: center;">
                    <a data-finalurl="http://terhoma.org/Accueil/" data-name="terhoma.org/Accueil/" href="http://terhoma.org/Accueil/">
                        <span style="color:rgba(255,255,255,1);">Association Terhoma </span>
                    </a>
                    <a data-finalurl="http://terhoma.org/Notre-mission/" data-name="terhoma.org/Notre-mission/" href="http://terhoma.org/Notre-mission/">
                        <span style="color:rgba(255,255,255,1);">Partage</span>
                    </a>
                    <a data-finalurl="mi:5d14e62b_109/" data-name="Mangas" href="Mangas/">
                        <span style="color:rgba(255,255,255,1);">Mangas</span>
                    </a>
                </p>

                <p class="wb-stl-custom3" style="text-align: center;">
                    <a data-finalurl="http://terhoma.org/Faire-un-don/" data-name="terhoma.org/Faire-un-don/" href="http://terhoma.org/Faire-un-don/">
                        <span style="color:rgba(255,255,255,1);">FAIRE UN DON</span>
                    </a>
                    <a data-finalurl="http://terhoma.org/Devenir-Mécène/" data-name="terhoma.org/Devenir-Mécène/" href="http://terhoma.org/Devenir-M%C3%A9c%C3%A8ne/">
                        <span style="color:rgba(255,255,255,1);"> Devenir Mécène </span>
                    </a>
                    <a data-finalurl="mi:5d14e62b_101/" data-name="Essais" href="Essais/">
                        <span style="color:rgba(255,255,255,1);">Essais</span>
                    </a>
                </p>
            </div>

            <div id="wb_element_instance51" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance52" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance53" class="wb_element wb-elm-orient-horizontal">
                <div class="wb-elm-line"></div>
            </div>

            <div id="wb_element_instance54" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance55" class="wb_element wb_text_element" style=" line-height: normal;">
                <p class="wb-stl-normal"><a data-finalurl="mi:5d14e62b_120/" data-name="Rendez-vous Pas vu, Pas lu" href="Rendez-vous-Pas-vu-Pas-lu/">
                        <span style="color:rgba(5,1,5,1);">
                            <em>Prochain Rendez-vous, pas vu, pas lu</em>
                        </span>
                    </a>
                </p>
            </div>

            <div id="wb_element_instance56" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance57" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance58" class="wb_element wb_text_element" style=" line-height: normal;">
                <p class="wb-stl-normal">
                    <a data-finalurl="mi:5d14e62b_121/" data-name="Editeurs" href="Editeurs/">
                        <em>
                            <span style="color:rgba(143,16,64,1);">Un éditeur vous ouvre&nbsp;ses portes</span>
                        </em>
                    </a>
                </p>
            </div>

            <div id="wb_element_instance59" class="wb_element wb_text_element" style=" line-height: normal;">
                <p class="wb-stl-normal">
                    <span style="color:rgba(255,255,255,1);">
                        <em>L e s &nbsp; c o u p s &nbsp; d e &nbsp; c o e u r &nbsp; d e &nbsp; l a &nbsp; r é d a c t i o n . . .</em>
                    </span>
                </p>
            </div>

            <div id="wb_element_instance60" class="wb_element wb_text_element" style=" line-height: normal;">
                <p class="wb-stl-normal" style="text-align: center;">
                    <strong>
                        <em>I n t e r v i e w &nbsp; ! &nbsp; ! &nbsp; !&nbsp;</em>
                    </strong>
                </p>
            </div>

            <div id="wb_element_instance61" class="wb_element wb_element_picture" title="">
                <a href="Correction-Occitane/">
                    <img alt="gallery/exclamation" src="{{ asset('assets/images/gallery/569169d0d740000275dd4aab74d4d219_255x84.jpg') }}">
                </a>
            </div>

            <div id="wb_element_instance62" class="wb_element wb_element_shape">
                <div class="wb_shp"></div>
            </div>

            <div id="wb_element_instance63" class="wb_element wb-elm-orient-vertical">
                <div class="wb-elm-line"></div>
            </div>

            <div id="wb_element_instance64" class="wb_element wb_text_element" style=" line-height: normal;">
                <p class="wb-stl-normal" style="text-align: center;">
                    <strong>
                        <em>N o t r e &nbsp; A c t u a l i t é</em>
                    </strong>
                </p>
            </div>

            <div id="wb_element_instance65" class="wb_element wb_element_picture" title="">
                <img alt="gallery/femmeactu" src="{{ asset('assets/images/gallery/f6406d77279eabde1e6844e59bf9abe8_253x113.04255319149.jpg') }}">
            </div>

            <div id="wb_element_instance66" class="wb_element wb-elm-orient-vertical">
                <div class="wb-elm-line"></div>
            </div>

            <div id="wb_element_instance67" class="wb_element wb_text_element" style=" line-height: normal;">
                <h5 class="wb-stl-subtitle" style="text-align: center;">
                    <a data-finalurl="mi:5d14e62b_127/" data-name="Correction Occitane" href="Correction-Occitane/">
                        <em>Arlette Thoma vous parle de son métier </em>
                    </a>

                    <em>
                        <a data-finalurl="mi:5d14e62b_106/" data-name="Interviews" href="Interviews/">&nbsp;(voir l'interview)</a>
                    </em>
                </h5>
            </div>

            <div id="wb_element_instance68" class="wb_element wb_element_picture" title="">
                <img alt="gallery/visuelrevue" src="{{ asset('assets/images/gallery/958d232426e9972b63106d7efbcd7072_262x76.jpg') }}">
            </div>

            <div id="wb_element_instance69" class="wb_element wb_text_element" style=" line-height: normal;">
                <p class="wb-stl-normal" style="text-align: center;">
                    <em>
                        <strong>R e v u e &nbsp; d e &nbsp; p r e s s e . . .</strong>
                    </em>
                </p>
            </div>

            <div id="wb_element_instance70" class="wb_element wb_text_element" style=" line-height: normal;">
                <h5 class="wb-stl-subtitle" style="text-align: center;">
                    <em>Pas vu, pas lu fait le buzz.&nbsp;</em>
                </h5>

                <h5 class="wb-stl-subtitle" style="text-align: center;">
                    <em>Ils ont dit ou écrit... (Lire la suite)&nbsp;</em>
                </h5>
            </div>

            <div id="wb_element_instance71" class="wb_element wb_text_element" style=" line-height: normal;">
                <h5 class="wb-stl-subtitle" style="text-align: center;">
                    <em>Chaque jour, un chantier se met en place </em>
                </h5>

                <h5 class="wb-stl-subtitle" style="text-align: center;">
                    <em>et permet à Pas vu, pas lu d'émerger.&nbsp;</em>
                </h5>
            </div>

            <div id="wb_element_instance72" class="wb_element wb-elm-orient-horizontal">
                <div class="wb-elm-line"></div>
            </div>

            <div id="wb_element_instance73" class="wb_element wb_element_picture" title="">
                <img alt="gallery/coup de coeur" src="{{ asset('assets/images/gallery/0b90e89fc260a49aa802813baefdaf82_260x160.png') }}">
            </div>

            <div id="wb_element_instance74" class="wb_element wb-elm-orient-horizontal">
                <div class="wb-elm-line"></div>
            </div>

            <div id="wb_element_instance75" class="wb_element wb_element_picture" title="">
                <img alt="gallery/ezgif.com-video-to-gif" src="{{ asset('assets/images/gallery/7b2c2efef716d3ac8b00a8267db67829.gif') }}">
            </div>

            <div id="wb_element_instance76" class="wb_element wb-elm-orient-horizontal">
                <div class="wb-elm-line"></div>
            </div>

            <div id="wb_element_instance77" class="wb_element wb_element_picture" title="">
                <a href="Christine-Deviers-Joncour/">
                    <img alt="gallery/exclamation" src="{{ asset('assets/images/gallery/569169d0d740000275dd4aab74d4d219_255x84.jpg') }}">
                </a>
            </div>

            <div id="wb_element_instance78" class="wb_element wb_text_element" style=" line-height: normal;">
                <p class="wb-stl-normal" style="text-align: center;">
                    <em>
                        <strong>I n t e r v i e w &nbsp;! ! !&nbsp;</strong>
                    </em>
                </p>
            </div>

            <div id="wb_element_instance79" class="wb_element wb_text_element" style=" line-height: normal;">
                <p class="wb-stl-normal" style="text-align: center;">
                    <strong>
                        <em>A c t u a l i t é&nbsp; &nbsp;d u &nbsp; L i v r e</em>
                    </strong>
                </p>
            </div>

            <div id="wb_element_instance80" class="wb_element wb_element_picture" title="">
                <img alt="gallery/visuelevenement" src="{{ asset('assets/images/gallery/569169d0d740000275dd4aab74d4d219_255x84.jpg') }}">
            </div>

            <div id="wb_element_instance81" class="wb_element wb_text_element" style=" line-height: normal;">
                <p class="wb-stl-normal" style="text-align: center;">
                    <em>
                        <strong>I n t e r v i e w &nbsp; ! ! !&nbsp;</strong>
                    </em>
                </p>
            </div>

            <div id="wb_element_instance82" class="wb_element wb_element_picture" title="">
                <img alt="gallery/exclamation" src="{{ asset('assets/images/gallery/569169d0d740000275dd4aab74d4d219_255x84.jpg') }}">
            </div>

            <div id="wb_element_instance83" class="wb_element wb_text_element" style=" line-height: normal;">
                <h5 class="wb-stl-subtitle" style="text-align: center;">
                    <a data-finalurl="mi:5d14e62b_128/" data-name="Christine Deviers Joncour" href="Christine-Deviers-Joncour/">
                        <em>Christine Deviers Joncour,&nbsp;</em>
                    </a>
                </h5>

                <h5 class="wb-stl-subtitle" style="text-align: center;">
                    <a data-finalurl="mi:5d14e62b_128/" data-name="Christine Deviers Joncour" href="Christine-Deviers-Joncour/">
                        <em>Auteur / Ghost writer/ Illustratrice</em>
                    </a>
                </h5>
            </div>

            <div id="wb_element_instance84" class="wb_element wb_text_element" style=" line-height: normal;">
                <h5 class="wb-stl-subtitle" style="text-align: center;">
                    <em>Evènements à ne pas manquer !</em>
                </h5>
            </div>

        </div>

    </div>

{% endblock %}