{% extends 'base.html.twig' %}

{% block title 'Interviews' %}

{% block body %}
    <div class="content">
        <div class="illustration" style="background-image: url({{ asset('assets/images/illustration/interviews.jpg') }});">
            <span class="illustration-title">Interviews</span>
        </div>

        <div class="separator"></div>

        <div class="block-quote bg-purple box-interviews" style="height: 100%;">
            <div class="row mx-auto">
                <div class="col-md-5">
                    Des rencontres riches de sens...
                    <img src="{{ asset('assets/images/illustration/like.png') }}">
                </div>
                <div class="col-md-7">
                    <p>Quelle que soit leur position dans l'univers du livre, Auteur, lecteur, lectrice, éditeur, éditrice, agent littéraire, correcteur, correctrice, imprimeur, journaliste, libraire, lycéen(ne), étudiant(e), bibliothécaire, conservateur, créateur & animateur de club de lecture, critique littéraire, professeur, représentant d'institution publique, correcteur (trice ), traducteur (trice), organisateur de salon, historien, nous les rencontrons et les interrogeons.</p>
                </div>
            </div>
        </div>

        <div class="separator"></div>

        <div class="block-quote bg-rose box-interviews-2" style="height: auto;">
            <div class="interviews-title" style="padding: 2rem 2rem 5rem">Ils vous parlent &nbsp;du livre et de leur métier&nbsp;!</div>
            <img src="{{ asset('assets/images/illustration/oo.png') }}">

            <div class="interviews-content">
                <div class="interviews-block text-center">
                    <div class="row mx-auto interviews">
                        <div class="col-auto round-interviews">
                            <img src="{{ asset('assets/images/illustration/stylo.png') }}">
                        </div>
                        <div class="col-8 b-interviews">
                            <div class="interviews-title">Correction Occitane</div>
                            <div class="interviews-desc">Ecrivain publique, correcteur...</div>
                        </div>
                        <div class="col-auto btn-interviews">
                            <a href="{{ path('interView_view') }}" class="btn-default">Lire !</a>
                        </div>
                    </div>
                </div>

                <div class="interviews-block text-center">
                    <div class="row mx-auto interviews">
                        <div class="col-auto round-interviews">
                            <img src="{{ asset('assets/images/illustration/stylo.png') }}">
                        </div>
                        <div class="col-8 b-interviews">
                            <div class="interviews-title">Correction Occitane</div>
                            <div class="interviews-desc">Ecrivain publique, correcteur...</div>
                        </div>
                        <div class="col-auto btn-interviews">
                            <a href="{{ path('interView_view') }}" class="btn-default">Lire !</a>
                        </div>
                    </div>
                </div>

                <div class="interviews-block text-center">
                    <div class="row mx-auto interviews">
                        <div class="col-auto round-interviews">
                            <img src="{{ asset('assets/images/illustration/stylo.png') }}">
                        </div>
                        <div class="col-8 b-interviews">
                            <div class="interviews-title">Correction Occitane</div>
                            <div class="interviews-desc">Ecrivain publique, correcteur...</div>
                        </div>
                        <div class="col-auto btn-interviews">
                            <a href="{{ path('interView_view') }}" class="btn-default">Lire !</a>
                        </div>
                    </div>
                </div>

                <div class="interviews-block text-center">
                    <div class="row mx-auto interviews">
                        <div class="col-auto round-interviews">
                            <img src="{{ asset('assets/images/illustration/stylo.png') }}">
                        </div>
                        <div class="col-8 b-interviews">
                            <div class="interviews-title">Correction Occitane</div>
                            <div class="interviews-desc">Ecrivain publique, correcteur...</div>
                        </div>
                        <div class="col-auto btn-interviews">
                            <a href="{{ path('interView_view') }}" class="btn-default">Lire !</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
{% endblock %}

