<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">


    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Catégories</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Catégories</h6>
                <a class="collapse-item" href="{{ path('admin_category') }}">Ajouter ou modifier</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-broadcast-tower"></i>
            <span>Interviews</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Interviews</h6>
                <a class="collapse-item" href="{{ path('admin-interViews') }}">Liste des interviews</a>
                <a class="collapse-item" href="{{ path('admin-interView-edit') }}">Ajouter une interview</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-copy"></i>
            <span>Editeurs</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Options editeur</h6>
                <a class="collapse-item" href="{{path('admin-editeur-edit') }}">Ajouter un editeur</a>
                 <a class="collapse-item" href="{{ path('admin-editeurs') }}">Liste des editeurs</a>
            </div>
        </div>
    </li>
    <!-------------------------------------------------------------------------------------------------------------------------->
    <!--
    Nav Item - Pages Collapse Menu la partie de malika Neggaz
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-broadcast-tower"></i>
            <span>Interviews et Editeurs</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Interviews</h6>
                <a class="collapse-item" href="{#{'admin-interViews' }}">Listes des interviews</a>
                <a class="collapse-item" href="{{ path('admin_interView_edit') }}">Ajouter une interview</a>
            </div>
        </div>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Editeurs</h6>
                <a class="collapse-item" href="{{'admin-editeurs' }}">Listes des Editeurs</a>
                <a class="collapse-item" href="{{ path('admin_editeur_edit') }#}}">Ajouter un Editeur</a>
            </div>
        </div>
    </li>
   Fin de la partie de neggaz malika -->
    <!-------------------------------------------------------------------------------------------------------------------------->
    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="{{ path('admin_article') }}">
            <i class="fas fa-blog"></i>
            <span>Revue de presse</span>
        </a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="{{ path('admin_listbooks') }}">
            <i class="fas fa-book-open"></i>
            <span>Liste des livres</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Utilisateurs
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUser" aria-expanded="true" aria-controls="collapseUser">
            <i class="fas fa-users"></i>
            <span>Utilisateurs</span>
        </a>
        <div id="collapseUser" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Listes des utilisateurs</h6>
                <a class="collapse-item" href="{{ path('admin_user_readers') }}">Listes des lecteurs</a>
                <a class="collapse-item" href="{{ path('admin_user_editor') }}">Listes des editeurs</a>
                <a class="collapse-item" href="{{ path('admin_coupon') }}">Code de reduction</a>
            </div>
        </div>
    </li>


    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEven" aria-expanded="true" aria-controls="collapseUser">
            <i class="far fa-calendar-alt"></i>
            <span>Evenements</span>
        </a>
        <div id="collapseEven" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Evenements</h6>
                <a class="collapse-item" href="#!">Un auteur émerge</a>
                <a class="collapse-item" href="{{ path('admin_appointment') }}">Rendez vous PasvuPaslu</a>
            </div>
        </div>
    </li>


    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="{{ path('admin_comment') }}">
            <i class="fas fa-comments"></i>
            <span>Commentaires</span>
        </a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->
