</div>

<div class="vbox wb_container" id="wb_footer">

    <div class="wb_cont_inner" style="">
        <div id="wb_element_instance10" class="wb_element wb_text_element" style=" line-height: normal;">
            <p class="wb-stl-custom1" style="text-align: center;"><span style="color:rgba(255,255,255,1);">
                    <em>N O U S &nbsp; C O N T A C T E R &nbsp; !</em>
                </span>
            </p>
        </div>

        <div id="wb_element_instance11" class="wb_element wb_element_picture" title="">
            <a href="mailto:contact@pasvupaslu.com"><img alt="gallery/iconemail" src="{{ asset('assets/images/icons/d9ae8c1b9a4cc4cc925abec44cc1dd7c_60x66.png') }}"></a>
        </div>

        <div id="wb_element_instance12" class="wb_element wb_element_picture" title="">
            <a href="mailto:contact@pasvupaslu.com"><img alt="gallery/iconpost" src="{{ asset('assets/images/icons/35ead54231683e3de281d374ca1dca6b_60x69.png') }}"></a>
        </div>

        <div id="wb_element_instance13" class="wb_element wb_element_picture" title="">
            <img alt="gallery/regard" src="{{ asset('assets/images/icons/e69ff87e577716586d3788dbc8ed6728_70x69.png') }}">
        </div>

        <div id="wb_element_instance14" class="wb_element wb_text_element" style=" line-height: normal;">
            <p class="wb-stl-footer" style="text-align: center;">© 2018 <a href="http://pasvupaslu.com">pasvupaslu.com</a></p>
        </div>

        <div id="wb_element_instance15" class="wb_element wb_element_picture" title="">
            <img alt="gallery/iconetel" src="{{ asset('assets/images/icons/85c264c118e3c78861e70aa4d71e9546_60x69.png') }}">
        </div>

        <div id="wb_element_instance16" class="wb_element wb_element_picture" title="">
            <img alt="gallery/iconecarte" src="{{ asset('assets/images/icons/5a1e9988883d3b4fb257970aa54af0ae_63x69.png') }}">
        </div>

        <div id="wb_element_instance17" class="wb_element" style=" overflow: hidden;">
            <div style="height: 100%;">
                <marquee direction="left" behavior="scroll" scrollamount="3" style="height:25px;width:290px;background-color:#C40C50;font-family:Arial;font-size:12pt;color:#ffffff;font-style:italic;border-width:0;border-style:dotted;border-color:#000000; "> www.pasvupaslu.com Le marque-page des nouveaux talents !</marquee>
            </div>
        </div>

        <div id="wb_element_instance18" class="wb_element wb_element_shape">
            <div class="wb_shp"></div>
        </div>

        <div id="wb_element_instance19" class="wb_element wb_element_picture" title="">
            <img alt="gallery/books-1900467_1280" src="{{ asset('assets/images/gallery/86f26d4fbafb686bdd314b59b2180671_200x255.jpg') }}">
        </div>

        <div id="wb_element_instance20" class="wb_element wb_text_element" style=" line-height: normal;">
            <h5 class="wb-stl-subtitle">
                <a data-finalurl="mi:5d14e62b_5/" data-name="Accueil" href="">Accueil</a>
            </h5>

            <h5 class="wb-stl-subtitle">
                <a data-finalurl="mi:5d14e62b_110/" data-name="A propos de nous" href="A-propos-de-nous/">A propos de nous</a>
            </h5>

            <h5 class="wb-stl-subtitle">
                <a data-finalurl="mi:5d14e62b_115/" data-name="Auteurs" href="Auteurs/">Auteurs</a>
            </h5>

            <h5 class="wb-stl-subtitle">
                <a data-finalurl="mi:5d14e62b_105/" data-name="Livres" href="Livres/">Livres</a>
            </h5>

            <h5 class="wb-stl-subtitle">
                <a data-finalurl="mi:5d14e62b_107/" data-name="Lecteurs" href="5d14e62b_107/">Lecteurs</a>
            </h5>

            <h5 class="wb-stl-subtitle">
                <a data-finalurl="mi:5d14e62b_121/" data-name="Editeurs" href="Editeurs/">Editeurs </a>
            </h5>

            <h5 class="wb-stl-subtitle">
                <a data-finalurl="mi:5d14e62b_106/" data-name="Interviews" href="Interviews/">Interviews</a>
            </h5>

            <h5 class="wb-stl-subtitle">
                <a data-finalurl="mi:5d14e62b_117/" data-name="Nos Evénements" href="Nos-Ev%C3%A9nements/">Nos évènements</a>
            </h5>

            <h5 class="wb-stl-subtitle">
                <a data-finalurl="mi:5d14e62b_108/" data-name="Inscription" href="Connexion/inscription-php/">Inscription</a>
            </h5>
        </div>

        <div id="wb_element_instance21" class="wb_element wb_text_element" style=" line-height: normal;">
            <h5 class="wb-stl-subtitle">
                <a data-finalurl="mi:5d14e62b_124/" data-name="Informations Légales" href="Informations-L%C3%A9gales/">Informations Légales</a>
            </h5>

            <h5 class="wb-stl-subtitle">
                <a data-finalurl="mi:5d14e62b_124/" data-name="Informations Légales" href="Informations-L%C3%A9gales/">Conditions Générales d'Utilisation&nbsp;</a>
                </h5>

            <h5 class="wb-stl-subtitle">
                <a data-finalurl="mi:5d14e62b_124/" data-name="Informations Légales" href="Informations-L%C3%A9gales/">Conditions Générales de Ventes</a>
            </h5>

            <h5 class="wb-stl-subtitle">
                <a data-finalurl="mi:5d14e62b_124/" data-name="Informations Légales" href="Informations-L%C3%A9gales/">Vie Privée / Cookies</a>
            </h5>

            <h5 class="wb-stl-subtitle">Service Publicité</h5>

            <h5 class="wb-stl-subtitle">
                <a data-finalurl="http://terhoma.org/Devenir-Mécène/" data-name="terhoma.org/Devenir-Mécène/" href="http://terhoma.org/Devenir-M%C3%A9c%C3%A8ne/">Devenir Mécène</a>
            </h5>

            <h5 class="wb-stl-subtitle">Participer à un évènement</h5>

            <h5 class="wb-stl-subtitle">Exposer au Salon Pas vu, pas lu</h5>
        </div>

        <div id="wb_element_instance22" class="wb_element wb_element_shape">
            <div class="wb_shp"></div>
        </div>

        <div id="wb_element_instance23" class="wb_element wb-elm-orient-horizontal">
            <div class="wb-elm-line"></div>
        </div>

        <div id="wb_element_instance24" class="wb_element wb_element_shape">
            <div class="wb_shp"></div>
        </div>

        <div id="wb_element_instance25" class="wb_element">
            <a class="wb_button" href="http://terhoma.org/Faire-un-don/">
                <span>Faire un don !</span>
            </a>
        </div>
    </div>
</div>