
<nav class="navbar navbar-expand-md navbar-light bg-light navbar-custom">
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mx-auto">
            <a class="nav-item nav-link text-nowrap {% if current_menu is defined and current_menu == 'home' %}active{% endif %}" href="{{ path('home') }}">Accueil <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link text-nowrap {% if current_menu is defined and current_menu == 'about' %}active{% endif %}" href="{{ path('about') }}">A propos de nous</a>
            <a class="nav-item nav-link text-nowrap {% if current_menu is defined and current_menu == 'authors' %}active{% endif %}" href="{{ path('authors') }}">Auteurs</a>
            <a class="nav-item nav-link text-nowrap {% if current_menu is defined and current_menu == 'readers' %}active{% endif %}" href="{{ path('readers') }}">Lecteurs</a>
            <div class="dropdown show">
                <a href="{{ path('books') }}" class="droplists {% if current_menu is defined and current_menu == 'books' %}active{% endif %}" id="drop1" aria-haspopup="true" aria-expanded="false">
                    Livres
                </a>

                <div class="dropdown-menu text-center" aria-labelledby="drop1">
                    <a class="dropdown-item" href="{{ path('category') }}">Nouvelles</a>
                    <a class="dropdown-item" href="{{ path('category') }}">Romans</a>
                    <a class="dropdown-item" href="{{ path('category') }}">Essais</a>
                    <a class="dropdown-item" href="{{ path('category') }}">Science-fiction</a>
                    <a class="dropdown-item" href="{{ path('category') }}">Thrillers</a>
                    <a class="dropdown-item" href="{{ path('category') }}">Poésies</a>
                    <a class="dropdown-item" href="{{ path('category') }}">Mangas</a>
                    <a class="dropdown-item" href="{{ path('category') }}">Bandes-dessinées</a>
                    <a class="dropdown-item" href="{{ path('category') }}">Jeunesse</a>
                    <a class="dropdown-item" href="{{ path('category') }}">Bien-être Vie pratique</a>
                </div>
            </div>
            <a class="nav-item nav-link text-nowrap {% if current_menu is defined and current_menu == 'editors' %}active{% endif %}" href="{{ path('editors') }}">Editeurs</a>
            <div class="dropdown show">
                <a class="droplists {% if current_menu is defined and current_menu == 'interviews' %}active{% endif %}" href="{{ path('interviews') }}" role="button" id="drop1" aria-haspopup="true" aria-expanded="false">
                    Interviews
                </a>

                <div class="dropdown-menu text-center" aria-labelledby="drop1">
                    <a class="dropdown-item" href="{{ path('interviews_view') }}">Christine Deviers Joncour</a>
                    <a class="dropdown-item" href="{{ path('interviews_view') }}">Correction Occitane</a>
                </div>
            </div>
            <div class="dropdown show">
                <a class="droplists {% if current_menu is defined and current_menu == 'events' %}active{% endif %}" href="{{ path('events') }}" role="button" id="drop1" aria-haspopup="true" aria-expanded="false">
                    Nos Evénements
                </a>

                <div class="dropdown-menu text-center" aria-labelledby="drop1">
                    <a class="dropdown-item" href="{{ path('salon') }}">Salon Pas Vu, Pas Lu</a>
                    <a class="dropdown-item" href="{{ path('blog') }}">Revue de presse</a>
                    <a class="dropdown-item" href="{{ path('emerge') }}">Un auteur émerge !</a>
                    <a class="dropdown-item" href="{{ path('rendez_vous') }}">Rendez-vous Pas vu, Pas lu</a>
                </div>
            </div>
            <a class="nav-item nav-link text-nowrap" href="http://terhoma.org/Contact/" target="_blank">Contact</a>
        </div>
    </div>
</nav>
